<div class="swiper" #swiper>
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide swiper-slide--one">
        <div>
          <h2>Jellyfish</h2>
          <p>Jellyfish and sea jellies are the informal common names given to the medusa-phase...</p>
          <a href="https://en.wikipedia.org/wiki/Jellyfish" target="_blank">explore</a>
        </div>
      </div>
  
      <!-- Slide 2 -->
      <div class="swiper-slide swiper-slide--two">
        <div>
          <h2>Seahorse</h2>
          <p>Experience the magic of a Florida sunset like never before...</p>
          <a href="https://cdn.prod.website-files.com/67646bc27cd171f4f4446754/67648015fb1098364eaba017_dolpins-950x650-salty-pelican-banners-021.jpg" target="_blank">explore</a>
        </div>
      </div>
  
      <!-- Slide 3 -->
      <div class="swiper-slide swiper-slide--three">
        <div>
          <h2>Octopus</h2>
          <p>Octopuses inhabit various regions of the ocean, including coral reefs...</p>
          <a href="https://en.wikipedia.org/wiki/Octopus" target="_blank">explore</a>
        </div>
      </div>
  
      <!-- Slide 4 -->
      <div class="swiper-slide swiper-slide--four">
        <div>
          <h2>Shark</h2>
          <p>Sharks are a group of elasmobranch fish characterized by a cartilaginous skeleton...</p>
          <a href="https://en.wikipedia.org/wiki/Shark" target="_blank">explore</a>
        </div>
      </div>
  
      <!-- Slide 5 -->
      <div class="swiper-slide swiper-slide--five">
        <div>
          <h2>Dolphin</h2>
          <p>Dolphins are widespread. Most species prefer the warm waters of the tropic zones...</p>
          <a href="https://en.wikipedia.org/wiki/Dolphin" target="_blank">explore</a>
        </div>
      </div>
    </div>
  
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  