<div class="home-component">
    <!-- Swiper Container -->
    <swiper-container
      #swiper
      [id]="swiperContainerId"
      [slides-per-view]="slidePerView"
      loop="true"
      class="swiper-container"
    >
      <!-- Use *ngFor inside a container -->
      <ng-container *ngFor="let image of images">
        <swiper-slide>
          <img [src]="image.src" [alt]="image.alt" class="slide-image" />
        </swiper-slide>
      </ng-container>
    </swiper-container>
  
    <!-- Navigation Controls -->
    <div class="navigation-controls">
      <button (click)="changeSlide(-1)" class="prev-btn">Previous</button>
      <button (click)="changeSlide(1)" class="next-btn">Next</button>
    </div>
  </div>
  